
*
!*/

!.gitignore
!README.md
!LICENSE
!CONTRIBUTING.md

!*.py
!*.csv
!*.html
!*.json
!*.md
!app

.env
.env.*
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.idea/
.vscode/
.DS_Store
Thumbs.db
"""
/app/static/jsons/players/KL/kyr_lisbie_welcome4.json
