@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
body{
    font-family: Inter, sans-serif;
    background-color: ghostwhite;
    align-content: center;
    align-items: center;
    text-align: center;
    color:#1e293b;
}

.navbar{
    width:100%;
    border-radius: 25px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #002d62;
    font-size: 20px;
}

.navbar .container{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    width:100%;
}
.navbar a{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cfb381;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;

}

.navbar-logo {
    margin-left: auto;
    display: flex;
    padding-right: 20px;
    align-items: center;
}
.navbar-logo img{
    height: 100px;
    width: auto;
}

.navbar a:hover{
    background-color: #3d96ff;
}

hr{
    border: none;
    height: 5px;
    background-color: black;
}
