{% extends "base.html" %}
{% block title %}Defenders{% endblock %}
{% block content %}
<h1>Defenders</h1>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/defenders">25/26 Season</a>
        <a class="navbar-brand" href="/defenders/2425season">24/25 Season</a>
    </div>
</nav>
<h2>Appearances</h2>
<div id="apps-chart"></div>
<hr/>
<h2>Goals and Assists</h2>
<div id="ga-chart"></div>
<hr/>
<h2> Discipline</h2>
<div id="card-chart"></div>
<hr/>
<h2> Defensive</h2>
<div id="def-chart"></div>
<script type="text/javascript">
      const appsSpec = {{ apps_graph | safe }}
      vegaEmbed('#apps-chart', appsSpec);
      const gaSpec = {{ ga_graph | safe }}
      vegaEmbed('#ga-chart', gaSpec);
      const cardSpec = {{card_graph | safe}}
      vegaEmbed('#card-chart',cardSpec)
      const defSpec = {{defence_graph | safe}}
      vegaEmbed('#def-chart',defSpec)
    </script>

{% endblock %}