{% extends "base.html" %}
{% block title %}Forwards - Reading Stats{% endblock %}
{% block content %}
<h1>Forwards</h1>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/forwards">25/26 Season</a>
        <a class="navbar-brand" href="/forwards/2425season">24/25 Season</a>
    </div>
</nav>
<h2>Appearances</h2>
<div id="apps-chart"></div>
<hr/>
<h2>Goals and Assists</h2>
<div id="ga-chart"></div>
<hr/>
<h2>Shots</h2>
<div id = "shots-chart"></div>
<hr/>
<h2> Discipline</h2>
<div id="card-chart"></div>
<hr/>
<h2> Offsides</h2>
<div id="offside-chart"></div>
<script type="text/javascript">
      vegaEmbed('#apps-chart',"{{ url_for('static', filename='jsons/forwards/' ~ season ~ '/apps.json') }}" )
      vegaEmbed('#ga-chart',"{{ url_for('static', filename='jsons/forwards/' ~ season ~ '/ga.json') }}" );
      vegaEmbed('#shots-chart',"{{ url_for('static', filename='jsons/forwards/' ~ season ~ '/shots.json') }}")
      vegaEmbed('#card-chart',"{{ url_for('static', filename='jsons/forwards/' ~ season ~ '/cards.json') }}")
      vegaEmbed('#offside-chart',"{{ url_for('static', filename='jsons/forwards/' ~ season ~ '/off.json') }}")
    </script>

{% endblock %}