{% extends "base.html" %}
{% block title %}Forwards{% endblock %}
{% block content %}
<h1>Forwards</h1>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/forwards">25/26 Season</a>
        <a class="navbar-brand" href="/forwards/2425season">24/25 Season</a>
    </div>
</nav>
<h2>Appearances</h2>
<div id="apps-chart"></div>
<hr/>
<h2>Goals and Assists</h2>
<div id="ga-chart"></div>
<hr/>
<h2>Shots</h2>
<div id = "shots-chart"></div>
<hr/>
<h2> Discipline</h2>
<div id="card-chart"></div>
<hr/>
<h2> Offsides</h2>
<div id="offside-chart"></div>
<script type="text/javascript">
      const appsSpec = {{ apps_graph | safe }}
      vegaEmbed('#apps-chart', appsSpec)
      const gaSpec = {{ ga_graph | safe }}
      vegaEmbed('#ga-chart', gaSpec);
      const shotsSpec = {{ shots_graph | safe}}
      vegaEmbed('#shots-chart',shotsSpec)
      const cardSpec = {{card_graph | safe}}
      vegaEmbed('#card-chart',cardSpec)
      const offsideSpec = {{offside_graph | safe}}
      vegaEmbed('#offside-chart',offsideSpec)
    </script>

{% endblock %}