{% extends "base.html" %}
{% block title %}Goalkeepers - Reading Stats{% endblock %}
{% block content %}
<h1>Goalkeepers</h1>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/goalkeepers">25/26 Season</a>
        <a class="navbar-brand" href="/goalkeepers/2425season">24/25 Season</a>
    </div>
</nav>
<h2>Appearances</h2>
<div id="apps-chart"></div>
<hr/>
<h2>Discipline</h2>
<div id="cards-chart"></div>
<hr/>
<h2>Goals Conceded</h2>
<div id="conceded-chart"></div>
<hr/>
<h2>Saves</h2>
<div id="save-chart"></div>
<hr/>
<h2>Clean Sheets</h2>
<div id="clean-chart"></div>
    <script type="text/javascript">
      const appsSpec = {{ apps_graph | safe }}
      vegaEmbed('#apps-chart', appsSpec);
      const cardSpec = {{ card_graph | safe }}
      vegaEmbed('#cards-chart', cardSpec);
      const conSpec = {{conceded_graph | safe}}
      vegaEmbed('#conceded-chart',conSpec)
      const saveSpec = {{save_graph | safe}}
      vegaEmbed('#save-chart',saveSpec)
      const cleanSpec = {{clean_graph | safe}}
      vegaEmbed('#clean-chart',cleanSpec)
    </script>
{% endblock %}