{% extends "base.html" %}
{% block title %}Reading Stats{% endblock %}
{% block content %}
<h1>
    Welcome to Reading Stats
</h1>
<h2> Displaying Stats in Convenient Graph Form</h2>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">25/26 Season</a>
        <a class="navbar-brand" href="/2425season">24/25 Season</a>
    </div>
</nav>
<hr/>
<h2>Goals Scored During Season</h2>
{# Creates the Chart to display the information #}
<div id="altair-chart"></div>
<hr/>
<h2>Total Goals</h2>
<div id="goal-chart"></div>
<hr/>
<h2>Results</h2>
<div id="result-chart"></div>
<hr/>
<h2>Possession</h2>
<div id="poss-chart"></div>
<hr/>
<h2>Attendance</h2>
<div id="attend-chart"></div>
<hr/>
<h2>Map</h2>
<div id="map-chart"></div>

    <script type="text/javascript">
      vegaEmbed('#altair-chart', "{{ url_for('static', filename='jsons/home/' ~ season ~ '/scorers.json') }}" );
      vegaEmbed('#goal-chart',"{{ url_for('static', filename='jsons/home/' ~ season ~ '/goals.json') }}")
      vegaEmbed('#result-chart',"{{ url_for('static', filename='jsons/home/' ~ season ~ '/results.json') }}")
      vegaEmbed('#poss-chart',"{{ url_for('static', filename='jsons/home/' ~ season ~ '/poss.json') }}")
      vegaEmbed('#attend-chart',"{{ url_for('static', filename='jsons/home/' ~ season ~ '/attend.json') }}")
      vegaEmbed('#map-chart',"{{ url_for('static', filename='jsons/home/' ~ season ~ '/map.json') }}")

    </script>
{% endblock %}