{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>
    Welcome to Reading Stats
</h1>
<h2> Displaying Their Stats in Convenient Graph Form</h2>
<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">25/26 Season</a>
        <a class="navbar-brand" href="/2425season">24/25 Season</a>
    </div>
</nav>
<hr/>
<h2>Goals Scored During Season</h2>
{# Creates the Chart to display the information #}
<div id="altair-chart"></div>

    <script type="text/javascript">
      const spec = {{ graph | safe }}

      vegaEmbed('#altair-chart', spec);
    </script>
{% endblock %}