{% extends "base.html" %}
{% block title %}Midfielders{% endblock %}
{% block content %}
<h1>Midfielders</h1>
<h2>Appearances</h2>
<div id="apps-chart"></div>
<hr/>
<h2>Goals and Assists</h2>
<div id="ga-chart"></div>
<hr/>
<h2> Discipline</h2>
<div id="card-chart"></div>
<hr/>
<h2>Crossing</h2>
<div id="cross-chart"></div>
<script type="text/javascript">
      const appsSpec = {{ apps_graph | safe }}
      vegaEmbed('#apps-chart', appsSpec);
      const gaSpec = {{ ga_graph | safe }}
      vegaEmbed('#ga-chart', gaSpec);
      const cardSpec = {{card_graph | safe}}
      vegaEmbed('#card-chart',cardSpec)
      const crossSpec = {{cross_graph | safe}}
      vegaEmbed('#cross-chart',crossSpec)
    </script>

{% endblock %}