{% extends "base.html" %}
{% block title %}Posts - Reading Stats{% endblock %}
{% block content %}
<h1>Posts</h1>
<div id="posts-container">
    <div class="post-box">
      <div class="post-header">
        <h2>Kyrecce Lisbie Welcome Post</h2>
        <h2>27/06/2026</h2>
      </div>
      <div class =post-text>
        <h3>Here is a look at some of Kyreece Lisbie's last season stats compared to one of his teammates, Harry Anderson,
        and a player similar in position and league finish, Calum Agius of Crewe Alexandra </h3>
        <h3>First we look at Goals and Assists where Lisbie is close to his Harry, and is ahead of Calum by a decent amount</h3>
      </div>
      <div id="kyr_lisbie_welcome1"></div>
      <div class="post-text">
        <h3>Next we look at the shots of each player, in which we can see Lisbie is ahead of both players in all values, showing how
        he could be consistent in getting shots off and getting them on target</h3>
      </div>
      <div id="kyr_lisbie_welcome2"></div>
      <div class="post-text">
        <h3>When looking at the players passing, we can see that Lisbie is behind on all passing values, suggesting that he might be more of
        an attacking winger who focuses on getting down the pitch rather than building up play</h3>
      </div>
      <div id="kyr_lisbie_welcome3"></div>
      <div class="post-text">
        <h3>Finally, Looking at some attacking stats its clear that Lisbie exceeds in getting forward with the ball, with more
        dribbles and a lot more touches in the opposition box, once again suggesting that Lisbie is best played as a
        high line attacking midfielder</h3>
      </div>
      <div id="kyr_lisbie_welcome4"></div>
      <div class="post-text">
        <h3>Overall, I think this a brilliant signing for both the club and Leam. He should be a worthy investment who could be sold
        for a decent amount and also suits Leam's philosophy of fast wingers who get into the box and get shots off</h3>
      </div>
    </div>
    <div class="post-box">
      <div class="post-header">
        <h2>Udoka Godwin-Malife</h2>
        <h2>30/06/2026</h2>
      </div>
      <div class="post-text">
        <h3>Here is a look at new signing Udoka Godwin-Malife, compared with some of his new teammates, Paudie O'Connor and Jeriel Dorsett.</h3>
        <h3>Looking at Udoka passing, he is close compared to his standard pass completion to Paudie and Jeriel,
          while his long balls are much more accurate. His crossing is down compared to the others, maybe suggesting
          he struggles with crossing, but he has completed more crosses then both.</h3>
      </div>
      <div id="udoka_maflie_welcome1"></div>
      <div class="post-text">
        <h3>When comparing the players duel percentages, we can see that his ground duels is below the others, while being between the others when it comes to aerial duels.
          This could suggest that he is not as confident when it comes to contesting the ball in close quarter situations.</h3>
      </div>
      <div id="udoka_maflie_welcome2"></div>
      <div class="post-text">
        <h3>Looking at their defensive contributions, we can see where Udoka excels, with his recoveries miles above the others,
          highlighting his ability to catch up to long balls and recover the ball. He does fall behind tackles and interceptions compared to the others.</h3>
      </div>
      <div id="udoka_maflie_welcome3"></div>
      <div class="post-text">
      <h3>Overall, despite some of the data suggesting he isn't as defensively sound as his teammates, I think he will do well playing alongside Paudie,
        in a back 2 or 3, with Paudie being able to win more duels and tackles, while Udoka can help with recoveries behind the defensive line.</h3>
      </div>
    </div>

    <div class="post-box">
        <div class="post-header">
            <h2>Josh Stokes</h2>
            <h2>11/07/2026</h2>
        </div>
        <div class="post-text">
            <h3>Here is a look at Reading FC newest player Josh Stokes,
            compared to former royal Kamari Doyle and Reece Cole,
            a player linked with #readingfc (Per 90)</h3>
            <h3>We can see that from their passing percentages that both Josh and Reece hold up an impressive percentage of accurate balls,
                but both fall behind Kamari by a decent margin.
                This suggests that Kamari is better as a support role to the build up of attacks.</h3>
        </div>
        <div id="josh_stokes_welcome1"></div>
        <div class="post-text">
            <h3>Looking at their dribbling percentage we can see that Kamari and Josh hover around the 50%,
                were Reece is much closer to 60% suggesting he is better moving the ball forward himself.</h3>
        </div>
        <div id="josh_stokes_welcome2"></div>
        <div class="post-text">
            <h3>Looking at there G+A and their expected G+A we can see where Josh shines.
                He is producing about double the expected G+A of the other 2 players,
                while still boasting an impressive actual G+A, showing his composure in the final third creating chances.</h3>
        </div>
        <div id="josh_stokes_welcome3"></div>
        <div class="post-text">
            <h3>Overall, Josh Stokes is a brilliant addition and will play a vital 10 role in Leam side.
                He should suit Leam's system more then Kamari, being more attacking and being a bigger goal threat,
                being the perfect second striker in either a 4-2-3-1 or 3-4-2-1.</h3>
        </div>
    </div>
    <div class="post-box">
      <div class="post-header">
        <h2>Jacob Brown Welcome Post</h2>
        <h2>05/07/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is a look at most recent signing Jacob Brown,
                compared with his new teammate Jack Marriott and Derby Striker Lars-Jørgen Salvesen.
                (We will be comparing their per 90 stats due to Jacob Browns limited playing time last season).
            </h3>
            <h3>Looking at the graph below we can see that Jacob lacks behind getting shots off on target per 90,
                but is similar to Lars when it comes to getting headed shots, while also boasting a similar expected goals per 90 to Jack.</h3>
      </div>
        <div id="jacob_brown_welcome1"></div>
        <div class="post-text">
            <h3>Looking at their chances created, we can see Jacob is close to both other players,
                showing that he is just as capable as generating chances as other players.</h3>
        </div>
        <div id="jacob_brown_welcome2"></div>
        <div class="post-text">
            <h3>Finally, we can see that Jacob is in between the players when it comes to winning both ground and aerial duels.
                The aerial duels stat feels unfair due to Lars's height advantage,
                but the standard duels still shows that Jacob is more confident at winning the ball then Jack.</h3>
        </div>
        <div id="jacob_brown_welcome3"></div>
        <div class="post-text">
            <h3>Overall, I think Jacob provides great competition with Jack Marriot for the striker position.
                Even though Jacob has struggled in recent seasons,
                hopefully he can show off his skill in League 1 with consistent playing time and a system that suits him.</h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Reading FC v Bromley </h2>
        <h2>11/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of #readingfc v Bromley</h3>
            <h3>When looking at our attacking stats, we can see we just edge them in our shots,
                while also getting into the box more then Bromley.
                Its also worth noting that we had a better xG, 2.39 to Bromley's 1.67.</h3>
      </div>
        <div id="eflcup_bromley1"></div>
        <div class="post-text">
            <h3>We can see defensively we were much poorer, only beating them on blocks and clearances.
                This is poor, as it only shows we weren't stopping the attacks and were unable to keep possession,
                we want to have higher tackles and interceptions.</h3>
        </div>
        <div id="eflcup_bromley2"></div>
        <div class="post-text">
            <h3>When looking at our passing stats, we can see that we did have a higher passing accuracy in both short and long balls, while being slightly less in crossing.
                The short pass rate isn't great, as it should be in the 80's, but the long and crossing is in the right area.</h3>
        </div>
        <div id="eflcup_bromley3"></div>
        <div class="post-text">
            <h3>Overall, the stats do say reading fc were the slightly better team, with the only problem being our defence being caught out a couple of times,
                which is a problem with sitting deep, as it means the attackers have less distance to goal if they get the ball. Attacking we were good.</h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Reading FC v Luton </h2>
        <h2>16/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of #readingfc v Luton</h3>
            <h3>Comparing our attacking stats, we were pretty much identical to Luton, only getting 5 more shots then Luton.
                We also just edged them out on xG, 1.77 to 1.60.
                Its good that we were matching a high quality opposition, and shows how our attack was decent.</h3>
      </div>
        <div id="L1_luton_h1"></div>
        <div class="post-text">
            <h3>Defensively we were off it,  which could be seen on the pitch and in the stats.
                Interceptions were up on Bromley which was good,
                but only 1 block and 11 tackles showed how we lacked stopping attacks or shots</h3>
        </div>
        <div id="L1_luton_h2"></div>
        <div class="post-text">
            <h3>Looking at the passing, its disappointing to see our passing and crossing percentage drop from Bromley,
                and being worse off then Luton. We did get an impressive long ball percentage,
                which is good for our tactics of getting the ball up quickly, and can be seen in two of our goals.</h3>
        </div>
        <div id="L1_luton_h3"></div>
        <div class="post-text">
            <h3>Overall, We were decent going forward, but lacked in our defensive contributions and passing,
            going backwards from the Bromley game.</h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Reading FC v Wycombe </h2>
        <h2>19/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of #readingfc v Wycombe</h3>
            <h3>Looking at the attacking stats, we matched Wycombe overall.
                We got a decent number of shots off and got in the box a decent amount of times.
                This is also similar to the Luton game stats..</h3>
      </div>
        <div id="efltrophy_wycombe1"></div>
        <div class="post-text">
            <h3>We were also defensively quite even with Wycombe.
                We did improve upon the Luton games, getting in more defensive contributions,
                hopefully suggesting the Leam has got into the players heads about stopping the attackers earlier.</h3>
        </div>
        <div id="efltrophy_wycombe2"></div>
        <div class="post-text">
            <h3>Looking at the passing, we did fall behind Wycombe, who had a really good overall passing completion rate.
                Our stats were not horrible, with the passing being better then the Luton game and similar to the Bromley,
                but we need our Long Balls and Crosses to be up.</h3>
        </div>
        <div id="efltrophy_wycombe3"></div>
        <div class="post-text">
            <h3>Overall, it was a very even affair against Wycombe, both sides putting up equal stats,
                with Reading eventually coming up on top on Penalties. An improvement on the Luton game,
                and a good performance from some of the reserves and youngsters.</h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Welcome George Earthy</h2>
        <h2>20/08/2026</h2>
      </div>
            <h3>Here is my review of #readingfc newest player George Earthy.
                I will be comparing him to Romaine Mundle and Jesurun Rak-Sakyi,
                two players who had similar game time to him in the 24/25 Championship Season.
                I'm doing the 24/25 season due to his lack of playing time last season.</h3>
        <div id="grg_earthy_welcome1"></div>
        <div class="post-text">
            <h3>We can see that is passing rate is above the overs, suggeting he is good at playing nice short balls during attacks.
                His long balls is lower then I would like, but in our system it wont be too much of an issue,
                as he will often be too far up to be playing them.</h3>
        </div>
        <div id="grg_earthy_welcome2"></div>
        <div class="post-text">
            <h3>Looking at their dribbling success rate,
                its disappointing to see his percentage much lower then the others.
                I think this suggests he will be playing the ball out rather then running it himself,
                relying on his passing ability rather then his ball control.</h3>
        </div>
        <div id="grg_earthy_welcome3"></div>
        <div class="post-text">
            <h3>Looking at the G+A and xG+A, we can see that he underachieved his expected G+A, this isnt a bad thing,
                as it means he is still creating good chances, which are not being converted.
                You can see Mundle is overachieving, which could suggest he is getting lucky. </h3>
        </div>
        <div class="post-text">
            <h3>Overall, I think this signing is a brilliant move by #readingfc,
                as to get a talented youngster on a permanent basis,
                and fill the needed depth in the number 10 role.
                My only concern is his lack of playing time last season,
                as he only managed 270 mins at Bristol City. </h3>
        </div>
    </div>


    <div class="post-box">
      <div class="post-header">
        <h2>Wimbledon v Reading </h2>
        <h2>23/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of Wimbledon v #readingfc</h3>
            <h3>Looking at our attacking stats, we can clearly see we dominated against Wimbledon.
                It was good how often we got into the box, but its annoying we didn't get more shots off,
                with our attackers often waiting too long or playing a pass instead of shooting.</h3>
      </div>
        <div id="L1_wimbledon_a_1"></div>
        <div class="post-text">
            <h3>Our defensive stats were down on from Luton,
                but this is because Wimbledon had fewer attacks as we often forced bad passes,
                seen in passing chart (64%). The number of clearances is concerning,
                as it shows we often panic and boot it, rather then building from the back.</h3>
        </div>
        <div id="L1_wimbledon_a_2"></div>
        <div class="post-text">
            <h3>We can see a clear improvement on our passing, with it finally reaching the 80% mark,
                suggesting we were much more comfortable during the game. Our long ball% went down during the second half,
                showing how we were desperate and spraying balls, going from 35% to 21%.</h3>
        </div>
        <div id="L1_wimbledon_a_3"></div>
        <div class="post-text">
            <h3>Overall, its a good thing to see a lot of people say "we should have won that". If we scored a goal,
                everyone would be praising the performance, as we did dominate. Think the stick Leam got was uncalled for,
                the players just needed to be more clinical.</h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Welcome Conor Masterson</h2>
        <h2>26/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of #readingfc newest player, Conor Masterson.
                I will compare him to Omar Beckles, Gillingham CB with similar minutes, and Ben Ward,
                compared to his first half in League 2 with Accrington.</h3>
            <h3>Looking at their passing stats, we can see that Masterson is much more confident on the ball playing it short,
                with around 15% more accurate passing rate then either player. He also has a good long ball percentage,
                showing he can also play accurate long balls.</h3>
        </div>
        <div id="con_masterson_welcome1"></div>
        <div class="post-text">
            <h3>Looking at the duels, we can see that Masterson is around 10% down on the others when it comes to both
                ground and aerial duels. This isn't great that he isn't winning as many duels,
                but being above 50% does mean he wins the majority of duels.</h3>
        </div>
        <div id="con_masterson_welcome2"></div>
        <div class="post-text">
            <h3>Looking at there defensive stats per 90, we can see also that Masterson falls behind in the
                stats compared to the other players. It is concerning seeing him get so few tackles and interceptions</h3>
        </div>
        <div id="con_masterson_welcome3"></div>
        <div class="post-text">
            <h3>Overall, I think the signing is okay. I'm not going to say Masterson will change our season,
                but I do think he is a sensible choice for a back up CB.
                I would like to see another CB to come in who is more likely to push for a starting XI spot. </h3>
        </div>
    </div>

    <div class="post-box">
      <div class="post-header">
        <h2>Stevenage v Reading </h2>
        <h2>26/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of Stevenage v #readingfc</h3>
            <h3>Looking at our attacking stats, we got less shots and touches in opponents box. However,
                we were able to produce 1.70xG, where Stevenage created just 0.72xG.
                This shows how we were able to create more dangerous attacks even with less shots,
                being more clinical. </h3>
      </div>
        <div id="eflcup_stevenage1"></div>
        <div class="post-text">
            <h3>Looking at our defensive stats, we had a good performance.
                We were able to reduce our numbers of clearances,
                being able to keep the ball while defending,
                and also improving on getting more interceptions and blocks.</h3>
        </div>
        <div id="eflcup_stevenage2"></div>
        <div class="post-text">
            <h3>Looking at our passing stats, we got close to the 80% passing rate target I like to see us at,
                albeit 78% has been the most common.
                The long ball% is good, would still like to see the cross% higher.
                Stevenage high possession can be seen with there high pass accuracy.</h3>
        </div>
        <div id="eflcup_stevenage3"></div>
        <div class="post-text">
            <h3>Overall, A very good performance from #readingfc both in defence and upfront.
                It is good to see more performances that make the team feel more complete,
                and look like a team that can push there way up the table</h3>
        </div>
    </div>

        <div class="post-box">
      <div class="post-header">
        <h2>Stevenage v Reading </h2>
        <h2>26/08/2026</h2>
      </div>
        <div class="post-text">
            <h3>Here is my review of Reading FC in August</h3>
            <h3>Now moving onto our stats, first we will look at our possession per game.
            Looking at this, we can see there is no clear pattern, with games varying from 60% to 40%,
                averaging 51%. While we do not maintain a consistent possession,
                we can see how patterns emerge when looking at our opponents and the game stats.
            For example, in the Bromley game, we have a high percentage due to the fact
                Bromley are more defensive, and also went a man down with 11 minutes left.
            The same can be said about wimbldeon, where they set up deeper and more defensive,
                allowing our players to have more time on the ball in our own half.
            This can be seen in the Stevenage game, where after we scored,
                we went more defensive to keep our lead. This worked well, as it meant we were more secure,
                and allowed us to counter more effectively.
            The same cant be said about the luton game,
                where after scoring we went more defensive, we were unable to hold off their superior attack,
                and were also unable to get back into the game
            This does show off the versatility of our counter attacking football,
                being able to play it with both more and less possession
            </h3>
      </div>
        <div id="possession_august"></div>
        <div class="post-text">
            <h3>Moving on, we now compare our Goals scored vs our Expected Goals.
                We can see that our avg goals and our avg xG is the practically the same,
                with both being 1.6 per game.
                This is a very good thing to have our goals and xg be the same,
                as it means we are scoring at the same rate we are producing chances.
                It is better then producing less goals then xG,
                as that would mean we are likely missing our chances and failing to convert.
                Producing more Goals then xG might be good as it might suggest we are very clinical,
                but it could also mean we are getting lucky with our shots, and might not be sustainable.
                So having the same Goals to xG is a good indicator we are attacking well.
                We of course want this to be as high as possible, but 1.6 is still very good.
            </h3>
        </div>
        <div id="attacking_august"></div>
        <div class="post-text">
            <h3>Now moving onto our Conceded goals to vs our expected faced,
                we can see that our conceded goals are slightly higher then what were expected to concede.
                This is not a good thing, as it means we are conceding more then we should be ,
                suggesting that we have not been good defending recently.
                What we should be aiming for is to be lower then our expected faced,
                as it means we are stopping the attacks going through.
                The only positive note is that we are avering more goals for then against,
                same with xG, suggesting we have be the better side on avg across our games.
</h3>
        </div>
        <div id="defence_august"></div>
        <div class="post-text">
            <h3>When looking at our passing averages,
                its seems we often hover around the same percentages per game.
                When we compare these stats to our last seasons avg,
                we avg 75.3% pass completion last season, which means we have improved by 1.5%.
                Looking at our long balls, we are also up, improving on 32.4%, improving by 2%.
                When we look at crossing, we are down by a decent amount,
                were we avg 23.9%, meaning we have decreased by 3.3%.
                This suggests that we have improved our short and long balls,
                but we still need to work on getting accurate crosses.
                I think this is mainly down to us lacking tall options up top to connect with these crosses.
</h3>
        </div>
        <div id="passing_august"></div>
        <div class="post-text">
            <h3>If I had to give this month a rating, I would give it a 5/10.
                I can see the ideas coming together with this team,
                but it is definitely not the finished product.</h3>
        </div>

    </div>

</div>




<div id="pagination">
    <button id="back-btn">Back</button>
    <span id="page-number">Page 1</span>
    <button id="next-btn">Next</button>
</div>
<script type="text/javascript">
  vegaEmbed('#kyr_lisbie_welcome1',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome1.json') }}");
  vegaEmbed('#kyr_lisbie_welcome2',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome2.json') }}")
  vegaEmbed('#kyr_lisbie_welcome3',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome3.json') }}")
  vegaEmbed('#kyr_lisbie_welcome4',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome4.json') }}")
  vegaEmbed('#udoka_maflie_welcome1',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome1.json') }}")
  vegaEmbed('#udoka_maflie_welcome2',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome2.json') }}")
  vegaEmbed('#udoka_maflie_welcome3',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome3.json') }}")
  vegaEmbed('#josh_stokes_welcome1',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome1.json') }}")
  vegaEmbed('#josh_stokes_welcome2',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome2.json') }}")
  vegaEmbed('#josh_stokes_welcome3',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome3.json') }}")
  vegaEmbed('#jacob_brown_welcome1',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome1.json') }}")
  vegaEmbed('#jacob_brown_welcome2',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome2.json') }}")
  vegaEmbed('#jacob_brown_welcome3',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome3.json') }}")
  vegaEmbed('#eflcup_bromley1',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley1.json') }}")
  vegaEmbed('#eflcup_bromley2',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley2.json') }}")
  vegaEmbed('#eflcup_bromley3',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley3.json') }}")
  vegaEmbed('#L1_luton_h1',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_1.json') }}")
  vegaEmbed('#L1_luton_h2',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_2.json') }}")
  vegaEmbed('#L1_luton_h3',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_3.json') }}")
  vegaEmbed('#efltrophy_wycombe1',"{{ url_for('static', filename='jsons/matches/2627/Wycombe/efltrophy_wycombe1.json') }}")
  vegaEmbed('#efltrophy_wycombe2',"{{ url_for('static', filename='jsons/matches/2627/Wycombe/efltrophy_wycombe2.json') }}")
  vegaEmbed('#efltrophy_wycombe3',"{{ url_for('static', filename='jsons/matches/2627/Wycombe/efltrophy_wycombe3.json') }}")
  vegaEmbed('#grg_earthy_welcome1',"{{ url_for('static', filename='jsons/players/GE/grg_earthy_welcome1.json') }}")
  vegaEmbed('#grg_earthy_welcome2',"{{ url_for('static', filename='jsons/players/GE/grg_earthy_welcome2.json') }}")
  vegaEmbed('#grg_earthy_welcome3',"{{ url_for('static', filename='jsons/players/GE/grg_earthy_welcome3.json') }}")
  vegaEmbed('#L1_wimbledon_a_1',"{{ url_for('static', filename='jsons/matches/2627/Wimbledon/L1_wimbledon_a_1.json') }}")
  vegaEmbed('#L1_wimbledon_a_2',"{{ url_for('static', filename='jsons/matches/2627/Wimbledon/L1_wimbledon_a_2.json') }}")
  vegaEmbed('#L1_wimbledon_a_3',"{{ url_for('static', filename='jsons/matches/2627/Wimbledon/L1_wimbledon_a_3.json') }}")
  vegaEmbed('#con_masterson_welcome1',"{{ url_for('static', filename='jsons/players/CM/con_masterson_welcome1.json') }}")
  vegaEmbed('#con_masterson_welcome2',"{{ url_for('static', filename='jsons/players/CM/con_masterson_welcome2.json') }}")
  vegaEmbed('#con_masterson_welcome3',"{{ url_for('static', filename='jsons/players/CM/con_masterson_welcome3.json') }}")
  vegaEmbed('#eflcup_stevenage1',"{{ url_for('static', filename='jsons/matches/2627/eflcup_stevenage1.json') }}")
  vegaEmbed('#eflcup_stevenage2',"{{ url_for('static', filename='jsons/matches/2627/eflcup_stevenage2.json') }}")
  vegaEmbed('#eflcup_stevenage3',"{{ url_for('static', filename='jsons/matches/2627/eflcup_stevenage3.json') }}")
  vegaEmbed('#passing_august',"{{ url_for('static', filename='jsons/monthly/august2026/passing.json') }}")
  vegaEmbed('#possession_august',"{{ url_for('static', filename='jsons/monthly/august2026/possession.json') }}")
  vegaEmbed('#attacking_august',"{{ url_for('static', filename='jsons/monthly/august2026/attacking.json') }}")
  vegaEmbed('#defence_august',"{{ url_for('static', filename='jsons/monthly/august2026/defence.json') }}")


  /*Sets the number of Posts per "page" and also set the current page to 1*/
  const POSTS_PER_PAGE = 5;
  let current_page = 1;
  /*retrieve the posts using the id and then determine how many pages there are*/
  const POSTS = document.querySelectorAll('#posts-container .post-box');
  const TOTAL_PAGES = Math.ceil(POSTS.length / POSTS_PER_PAGE);

  /*Find buttons and page indicator*/
  const BACK_BTN = document.getElementById('back-btn');
  const NEXT_BTN = document.getElementById('next-btn');
  const PAGENUMBER = document.getElementById('page-number');

  /* Function used to update page*/
  function UpdatePage(page){
      /*Find the start and end posts of the page*/
      const START_INDEX = (page - 1) * POSTS_PER_PAGE;
      const END_INDEX = START_INDEX + POSTS_PER_PAGE;
      /*Cycles through the posts and display the posts in that page using block, or hide using none*/
      POSTS.forEach((post,index)=>{
          if (index >= START_INDEX && index < END_INDEX){
              post.style.display = "block";
          } else{
              post.style.display = "none";
          }
      });
      /*Sets Page number to page and also disable buttons if they are at limit, also makes change smooth*/
      PAGENUMBER.textContent = `${page}`;
      BACK_BTN.disabled = (page === 1);
      NEXT_BTN.disabled = (page === TOTAL_PAGES);
      document.getElementById('posts-container').scrollIntoView({behavior:'smooth'});
  }
  /*Creates event for when back button is clicked*/
  BACK_BTN.addEventListener('click',() => {
      if(current_page > 1){
          current_page--;
          UpdatePage(current_page);
      }
  });
  NEXT_BTN.addEventListener('click',() => {
      if(current_page < TOTAL_PAGES){
          current_page++;
          UpdatePage(current_page);
      }
  });
  UpdatePage(1);
</script>
{% endblock %}