{% extends "base.html" %}
{% block title %}Posts - Reading Stats{% endblock %}
{% block content %}
<h1>Posts</h1>
<div class="post-box">
  <div class="post-header">
    <h2>Kyrecce Lisbie Welcome Post</h2>
    <h2>27/06/2026</h2>
  </div>
  <div class =post-text>
    <h3>Here is a look at some of Kyreece Lisbie's last season stats compared to one of his teammates, Harry Anderson,
    and a player similar in position and league finish, Calum Agius of Crewe Alexandra </h3>
    <h3>First we look at Goals and Assists where Lisbie is close to his Harry, and is ahead of Calum by a decent amount</h3>
  </div>
  <div id="kyr_lisbie_welcome1"></div>
  <div class="post-text">
    <h3>Next we look at the shots of each player, in which we can see Lisbie is ahead of both players in all values, showing how
    he could be consistent in getting shots off and getting them on target</h3>
  </div>
  <div id="kyr_lisbie_welcome2"></div>
  <div class="post-text">
    <h3>When looking at the players passing, we can see that Lisbie is behind on all passing values, suggesting that he might be more of
    an attacking winger who focuses on getting down the pitch rather than building up play</h3>
  </div>
  <div id="kyr_lisbie_welcome3"></div>
  <div class="post-text">
    <h3>Finally, Looking at some attacking stats its clear that Lisbie exceeds in getting forward with the ball, with more
    dribbles and a lot more touches in the opposition box, once again suggesting that Lisbie is best played as a
    high line attacking midfielder</h3>
  </div>
  <div id="kyr_lisbie_welcome4"></div>
  <div class="post-text">
    <h3>Overall, I think this a brilliant signing for both the club and Leam. He should be a worthy investment who could be sold
    for a decent amount and also suits Leam's philosophy of fast wingers who get into the box and get shots off</h3>
  </div>
</div>
<div class="post-box">
  <div class="post-header">
    <h2>Udoka Godwin-Malife</h2>
    <h2>30/06/2026</h2>
  </div>
  <div class="post-text">
    <h3>Here is a look at new signing Udoka Godwin-Malife, compared with some of his new teammates, Paudie O'Connor and Jeriel Dorsett.</h3>
    <h3>Looking at Udoka passing, he is close compared to his standard pass completion to Paudie and Jeriel,
      while his long balls are much more accurate. His crossing is down compared to the others, maybe suggesting
      he struggles with crossing, but he has completed more crosses then both.</h3>
  </div>
  <div id="udoka_maflie_welcome1"></div>
  <div class="post-text">
    <h3>When comparing the players duel percentages, we can see that his ground duels is below the others, while being between the others when it comes to aerial duels.
      This could suggest that he is not as confident when it comes to contesting the ball in close quarter situations.</h3>
  </div>
  <div id="udoka_maflie_welcome2"></div>
  <div class="post-text">
    <h3>Looking at their defensive contributions, we can see where Udoka excels, with his recoveries miles above the others,
      highlighting his ability to catch up to long balls and recover the ball. He does fall behind tackles and interceptions compared to the others.</h3>
  </div>
  <div id="udoka_maflie_welcome3"></div>
  <div class="post-text">
  <h3>Overall, despite some of the data suggesting he isn't as defensively sound as his teammates, I think he will do well playing alongside Paudie,
    in a back 2 or 3, with Paudie being able to win more duels and tackles, while Udoka can help with recoveries behind the defensive line.</h3>
  </div>
</div>

<div class="post-box">
    <div class="post-header">
        <h2>Josh Stokes</h2>
        <h2>11/07/2026</h2>
    </div>
    <div class="post-text">
        <h3>Here is a look at Reading FC newest player Josh Stokes,
        compared to former royal Kamari Doyle and Reece Cole,
        a player linked with #readingfc (Per 90)</h3>
        <h3>We can see that from their passing percentages that both Josh and Reece hold up an impressive percentage of accurate balls,
            but both fall behind Kamari by a decent margin.
            This suggests that Kamari is better as a support role to the build up of attacks.</h3>
    </div>
    <div id="josh_stokes_welcome1"></div>
    <div class="post-text">
        <h3>Looking at their dribbling percentage we can see that Kamari and Josh hover around the 50%,
            were Reece is much closer to 60% suggesting he is better moving the ball forward himself.</h3>
    </div>
    <div id="josh_stokes_welcome2"></div>
    <div class="post-text">
        <h3>Looking at there G+A and their expected G+A we can see where Josh shines.
            He is producing about double the expected G+A of the other 2 players,
            while still boasting an impressive actual G+A, showing his composure in the final third creating chances.</h3>
    </div>
    <div id="josh_stokes_welcome3"></div>
    <div class="post-text">
        <h3>Overall, Josh Stokes is a brilliant addition and will play a vital 10 role in Leam side.
            He should suit Leam's system more then Kamari, being more attacking and being a bigger goal threat,
            being the perfect second striker in either a 4-2-3-1 or 3-4-2-1.</h3>
    </div>
</div>
<div class="post-box">
  <div class="post-header">
    <h2>Jacob Brown Welcome Post</h2>
    <h2>05/07/2026</h2>
  </div>
    <div class="post-text">
        <h3>Here is a look at most recent signing Jacob Brown,
            compared with his new teammate Jack Marriott and Derby Striker Lars-Jørgen Salvesen.
            (We will be comparing their per 90 stats due to Jacob Browns limited playing time last season).
        </h3>
        <h3>Looking at the graph below we can see that Jacob lacks behind getting shots off on target per 90,
            but is similar to Lars when it comes to getting headed shots, while also boasting a similar expected goals per 90 to Jack.</h3>
  </div>
    <div id="jacob_brown_welcome1"></div>
    <div class="post-text">
        <h3>Looking at their chances created, we can see Jacob is close to both other players,
            showing that he is just as capable as generating chances as other players.</h3>
    </div>
    <div id="jacob_brown_welcome2"></div>
    <div class="post-text">
        <h3>Finally, we can see that Jacob is in between the players when it comes to winning both ground and aerial duels.
            The aerial duels stat feels unfair due to Lars's height advantage,
            but the standard duels still shows that Jacob is more confident at winning the ball then Jack.</h3>
    </div>
    <div id="jacob_brown_welcome3"></div>
    <div class="post-text">
        <h3>Overall, I think Jacob provides great competition with Jack Marriot for the striker position.
            Even though Jacob has struggled in recent seasons,
            hopefully he can show off his skill in League 1 with consistent playing time and a system that suits him.</h3>
    </div>
</div>

<div class="post-box">
  <div class="post-header">
    <h2>Reading FC v Bromley </h2>
    <h2>11/08/2026</h2>
  </div>
    <div class="post-text">
        <h3>Here is my review of #readingfc v Bromley</h3>
        <h3>When looking at our attacking stats, we can see we just edge them in our shots,
            while also getting into the box more then Bromley.
            Its also worth noting that we had a better xG, 2.39 to Bromley's 1.67.</h3>
  </div>
    <div id="eflcup_bromley1"></div>
    <div class="post-text">
        <h3>We can see defensively we were much poorer, only beating them on blocks and clearances.
            This is poor, as it only shows we weren't stopping the attacks and were unable to keep possession,
            we want to have higher tackles and interceptions.</h3>
    </div>
    <div id="eflcup_bromley2"></div>
    <div class="post-text">
        <h3>When looking at our passing stats, we can see that we did have a higher passing accuracy in both short and long balls, while being slightly less in crossing.
            The short pass rate isn't great, as it should be in the 80's, but the long and crossing is in the right area.</h3>
    </div>
    <div id="eflcup_bromley3"></div>
    <div class="post-text">
        <h3>Overall, the stats do say reading fc were the slightly better team, with the only problem being our defence being caught out a couple of times,
            which is a problem with sitting deep, as it means the attackers have less distance to goal if they get the ball. Attacking we were good.</h3>
    </div>
</div>

<div class="post-box">
  <div class="post-header">
    <h2>Reading FC v Luton </h2>
    <h2>11/08/2026</h2>
  </div>
    <div class="post-text">
        <h3>Here is my review of #readingfc v Luton</h3>
        <h3>Comparing our attacking stats, we were pretty much identical to Luton, only getting 5 more shots then Luton.
            We also just edged them out on xG, 1.77 to 1.60.
            Its good that we were matching a high quality opposition, and shows how our attack was decent.</h3>
  </div>
    <div id="L1-_luton_h1"></div>
    <div class="post-text">
        <h3>Defensively we were off it,  which could be seen on the pitch and in the stats.
            Interceptions were up on Bromley which was good,
            but only 1 block and 11 tackles showed how we lacked stopping attacks or shots</h3>
    </div>
    <div id="L1-_luton_h2"></div>
    <div class="post-text">
        <h3>Looking at the passing, its disappointing to see our passing and crossing percentage drop from Bromley,
            and being worse off then Luton. We did get an impressive long ball percentage,
            which is good for our tactics of getting the ball up quickly, and can be seen in two of our goals.</h3>
    </div>
    <div id="L1-_luton_h3"></div>
    <div class="post-text">
        <h3>Overall, We were decent going forward, but lacked in our defensive contributions and passing,
        going backwards from the Bromley game.</h3>
    </div>
</div>

<script type="text/javascript">
  vegaEmbed('#kyr_lisbie_welcome1',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome1.json') }}");
  vegaEmbed('#kyr_lisbie_welcome2',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome2.json') }}")
  vegaEmbed('#kyr_lisbie_welcome3',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome3.json') }}")
  vegaEmbed('#kyr_lisbie_welcome4',"{{ url_for('static', filename='jsons/players/KL/kyr_lisbie_welcome4.json') }}")
  vegaEmbed('#udoka_maflie_welcome1',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome1.json') }}")
  vegaEmbed('#udoka_maflie_welcome2',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome2.json') }}")
  vegaEmbed('#udoka_maflie_welcome3',"{{ url_for('static', filename='jsons/players/UM/udoka_maflie_welcome3.json') }}")
  vegaEmbed('#josh_stokes_welcome1',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome1.json') }}")
  vegaEmbed('#josh_stokes_welcome2',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome2.json') }}")
  vegaEmbed('#josh_stokes_welcome3',"{{ url_for('static', filename='jsons/players/JS/josh_stokes_welcome3.json') }}")
  vegaEmbed('#jacob_brown_welcome1',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome1.json') }}")
  vegaEmbed('#jacob_brown_welcome2',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome2.json') }}")
  vegaEmbed('#jacob_brown_welcome3',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome3.json') }}")
  vegaEmbed('#jacob_brown_welcome3',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome3.json') }}")
  vegaEmbed('#jacob_brown_welcome3',"{{ url_for('static', filename='jsons/players/JB/jacob_brown_welcome3.json') }}")
  vegaEmbed('#eflcup_bromley1',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley1.json') }}")
  vegaEmbed('#eflcup_bromley2',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley2.json') }}")
  vegaEmbed('#eflcup_bromley3',"{{ url_for('static', filename='jsons/matches/2627/eflcup_bromley3.json') }}")
  vegaEmbed('#L1-_luton_h1',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_1.json') }}")
  vegaEmbed('#L1-_luton_h2',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_2.json') }}")
  vegaEmbed('#L1-_luton_h3',"{{ url_for('static', filename='jsons/matches/2627/Luton/L1_luton_h_3.json') }}")
</script>
{% endblock %}